#sidemenu {
  position: fixed;
  left: 0;
  top: 53px;
  bottom: 0;
  width: 100px;
  background: $brand-background;
  z-index: 1000;
  transition: transform 0.3s ease-out;

  li {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-left: 0;
    a {
      display: block;
      text-align: center;
      border-radius: 0;
      padding: 10px;
      i {
        font-size: 46px;
      }
      span {
        display: block;
        font-size: 14px;
        color: $font-primary;
      }
    }
  }
}

.nofocus #sidemenu {
  transform: translateX(-100px);
}
