#sidemenu {
  position: fixed;
  left: 0;
  top: 53px;
  bottom: 0;
  width: 100px;
  background: $brand-background;
  border-right: 1px solid $brand-secondary;
  z-index: 1000;
  transition: all 0.3s ease-out;
  opacity: 0.3;
  transform: translateX(-90px);

  li {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-left: 0;
    a {
      display: block;
      text-align: center;
      border-radius: 0;
      padding: 10px;
      i {
        font-size: 46px;
      }
      span {
        display: block;
        font-size: 14px;
        color: $font-primary;
      }
    }
  }

  &:hover, &.active {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nofocus #sidemenu {
  transform: translateX(-100px);
  opacity: 0;
}
