// customize bootstrap variables here:

@import "variables";
@import "bootstrap";
@import "mixins/_responsive.scss";
@import "animations";

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  overflow: hidden;
  &.partyMode #ascrail2000 {
    display: none !important;
  }
  &.mobileIE {
    overflow-y: auto;
  }
}
// Prevent history navigation in IE on touch devices
html,body {
  touch-action: pan-y;
  overflow-x: hidden;
  min-height: 100vh;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #000;
}
a {
  cursor: pointer;
  color: $accent-color;
}
body {
  background: $brand-background;
  color: $font-primary;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue",Helvetica,Arial,sans-serif;


  > canvas {
    display: none;
  }
}

header {
  background: $brand-primary;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;

  color: $font-tertiary;
  border-bottom: 1px solid transparent;

  position: fixed;
  z-index: 120;
  width: 100%;

  &#bar {
    top: 0;
    right: 0;
    left: 0;
    height: 22px;
    z-index: 120;
    -webkit-app-region: drag;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    .partyMode.nofocus & {
      height: 0;
    }

    .btn-group {
      position:absolute;
      right: 0;
      z-index: 120;

      button {
        border-radius: 0;
        -webkit-app-region: no-drag;
        width: 30px;
        text-align: center;

        &.btn-default {
          background: transparent;
          border: 1px solid transparent;
          text-shadow: 1px 1px #000;
          color: $font-tertiary;
        }
      }
    }
  }

  .header {
    height: 52px;
    #logo {
      background: url(../images/icon.webp) no-repeat 0 0;
      background-size: 50px;
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      overflow: hidden;
      text-indent: -2000em;
      margin-left: 10px;
    }
    .dropdown-menu {
      top: 50px;
      min-width: 50%;
      li {
        a {
          padding: 6px 10px;
          font-size: 1.2em;
          i {
            margin-right: 10px;
          }
        }
      }
    }
    h1 {
      font-size: 1.3em;
      margin: 12px 0 0 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      white-space: nowrap;
      line-height: 1.3;
      text-shadow: 1px 1px #000;
    }
  }
  .mobile-nav .dropdown {

    button.navbar-toggle {
      margin-right: 15px;
      border-color: $font-tertiary;
      box-shadow: 0 0 1px #000;

      .icon-bar {
        background-color: $font-tertiary;
        box-shadow: 0 0 1px #000;
      }
    }
    .dropdown-menu {
      min-width: 284px;
      top: 40px;
      left: auto;
      li {
        display: inline-block;
        &.active a {
          background: $brand-primary;
        }
        a {
          padding: 12px 0;
          text-align: center;
          width: 45px;
        }
      }
    }
   }
}
nav.navbar {
  position: fixed;
  z-index: 105;
  width: 100%;
  top: 53px;
  min-height: 0;
  background: #f8f8f8;
  margin: -1px 0;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.26);
  border-radius: 0;
  body.fancyAlbum & {
    //background: rgba(248,248,248, 0.9);
  }

  .container {
    padding : 0;
    .collapse {
      padding: 0;
    }
  }
  .navbar-nav {
    margin: -1px 0;
    display: flex;
    flex-direction: row;
    float: none;

    > li {
      flex: 3;
      > a {
        text-align: center;
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
.nav {
  li a {
    .remove {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      text-align: center;
      background: $brand-secondary;
      color: $font-primary;
      width: 20px;
      height: 20px;
      font-weight: bold;
      font-size: 16px;
      line-height: 1;
      z-index: 1;

      &:hover {
        background: $brand-primary;
        color: $font-tertiary;
      }
    }
  }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  text-shadow: 1px 1px #fff;
}
body.playing #main {
  padding-bottom: 150px;
}
#main {
  margin: 0 15px;
  padding-top: 80px;
  @include jsmusicdb-respond-min-width(sm) {
    padding-top: 110px;
  }
  h1 {
    margin: 0 0 5px;
  }
  ul.media, table {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  table.table {
    border: 1px solid $brand-secondary;
    text-transform: capitalize;
    tr {
      td {
        border-top: 0;
        background: rgba(248,248,248,0.9);
        padding: 10px 15px;
        cursor: default;
        overflow: hidden;

        &.counter {
          color: $brand-primary;
        }

        .hovered {
          display: none;
        }
      }

    }
    &.table-hover {
      tr {
        &:hover {
        td {
          background-color: rgba(180,203,224,0.9);
          cursor: pointer;

          .hovered {
            display: block;
          }
        }
      }
      }
    }
  }
  .table-responsive {
    border: 0;
    margin-bottom: 0;
    td {
      cursor: pointer;
    }
  }
  .tracklist {
    margin-top: 20px;
  }
  legend {
    color: $brand-primary;
    border: none;
    margin-bottom: 8px;
  }
}

ul.media {
  list-style: none;
  margin: 0;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
  padding: 0;

  li {

    overflow: hidden;
    position: relative;

    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    width: 43.3vw;
    height: 43.3vw;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
    margin: 0 2vw 2vw 0;

    @include jsmusicdb-respond-min-width(sm) {
      width: 22vw;
      height: 22vw;
    }
    @include jsmusicdb-respond-min-width(md) {
      width: 17.4vw;
      height: 17.4vw;
    }
    @include jsmusicdb-respond-min-width(lg) {
      width: 11.3vw;
      height: 11.3vw;
      margin: 0 1vw 1vw 0;
    }


    position: relative;
    background: url(../images/nocover.webp);
    background-size: cover;
    background-position: center top;
    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: $font-primary;
    }
    p {
      color: $font-tertiary;
      position: absolute;
      padding: 30px 10px 10px;
      bottom: -1px;
      left: -1px;
      right: -10px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(32,32,32,1)));
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(32,32,32,1) 100%);
      margin: 0;
      line-height: 1.05;
      text-transform: capitalize;

      -webkit-transition: 0.1s ease-out;
      -moz-transition: 0.1s ease-out;
      -o-transition: 0.1s ease-out;
      transition: 0.1s ease-out;

      .small {
        display: block;
        color: darken($font-tertiary, 15%);
        font-size: 11px;
      }
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &:hover {
      -webkit-transform:scale(1.02);
      -ms-transform:scale(1.02);
      transform:scale(1.02);
      box-shadow: 0 12px 15px 0 rgba(0,0,0,0.26);
      z-index: 1;
    }
    &:active {
      -webkit-transform:scale(0.98);
      -ms-transform:scale(0.98);
      transform:scale(0.98);
      z-index: 1;
      box-shadow: 0;
    }
  }
}
/* loader */
#loader {
  background: #FFFFFF;
  border-radius: 2px;
  bottom: 0;
  display: block;
  max-height: 115px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 350px;
  z-index: 10001;
  padding: 0 10px;
}
#loaderbg {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.25);
  z-index: 10000;
}
#loader h2 {
  font-size: 28px;
}
#loader img {
  display: block;
  margin: 5px auto 0;
}

/* the player */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: $brand-background2;//rgba(236, 239, 241, 0.9);
  color: $font-primary;
  border-top: 1px solid $brand-secondary;
  text-transform: capitalize;
  z-index: 11;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.26);
  height: 140px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;

  &.minimized {
    height: 15px;
  }

  &.partyMode {
    height: 101%;
    background: #000000;
    .inPartyMode {
      color: $font-tertiary;
      @include jsmusicdb-respond-min-width(sm) {
       height: 80%;
       padding: 20px 0 0;
      }
      .imageWrapper, .analyzerWrapper {
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        margin: 0 auto;
        width: 100%;

        img {
          width: 100%;
          &.currentAlbumArt {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
          }
          &.previousAlbumArt {
             z-index: 1;
             -webkit-transform: translateY(0%);
             transform: translate3d(0%, 0, 0);
             opacity: 1;
           }
           &.animate {
             z-index: 2;
             transition: 0.7s ease-out;
             -webkit-transform: translateY(-150%);
             transform: translate3d(-150%, 0, 0);
             opacity: 1;
           }
           &.animateBack {
             z-index: 2;
             transition: 0.7s ease-out;
             -webkit-transform: translateY(150%);
             transform: translate3d(150%, 0, 0);
             opacity: 1;
           }
          @include jsmusicdb-respond-min-width(sm) {
           height: 100%;
           width: auto;
           display: block;
           margin: 0 auto;
           top: 0;
          }
        }
      }
      .analyzerWrapper {
       position: absolute;
       z-index: 1;
       canvas {
        height: 100%;
        position: absolute;
        width: 100%;
        opacity: 0.5;
      }
      }
    }
    .inPartyMode .progressContainer {
      .time {
        color: $font-primary;
      }
       > div {
        background-color: $brand-secondary;
        .partyMode.nofocus & {
           background-color: darken($brand-secondary, 55%);
        }
      }
    }
    .inPartyMode .closeNowPlaying {
      position: absolute;
      left: 20px;
      top: 30px;
      font-size: 16px;
      z-index: 5;
      color: #ffffff;
      text-shadow: 1px 1px #000000;
      -webkit-transition: opacity 0.3s ease-out;
      -moz-transition: opacity 0.3s ease-out;
      -o-transition: opacity 0.3s ease-out;
      transition: opacity 0.3s ease-out;

      .partyMode.nofocus & {
        opacity: 0;
      }
    }
    .inPartyMode .container {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 2;

      .tertiary {
        background: $brand-tertiary;
        .partyMode.nofocus & {
          background: darken($brand-tertiary, 35%);
          color: $font-secondary;
        }
      }
      .secondary {
        background: $brand-secondary;
        .partyMode.nofocus & {
          background: darken($brand-secondary, 35%);
          color: $font-secondary;
        }
      }
      .primary {
        background: $brand-primary;
        .partyMode.nofocus & {
          background: darken($brand-primary, 35%);
          color: $font-secondary;
        }
      }
      .background {
        background: $brand-background;
        padding-top: 5px;
        h4, p {
          color: $font-primary;
        }
        .partyMode.nofocus & {
          background: darken($brand-background, 75%);
        }
      }

      .icons {
        font-size: 40px;
        text-align: center;
        a {
          margin-right: 30px;
          float: none;
          display: inline-block;
          color: $gray-ultralight;
          text-decoration: none;
          &.icon-big {
            font-size: 64px;
            line-height: 1;
            margin-top: 0;
            vertical-align: top;
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            color: darken($gray-ultralight, 20%)
          }
          .partyMode.nofocus & {
            color: $font-secondary;
          }
        }
      }
      .volumeControl {
        margin-top: 20px;
        width: 47%;
        i {
          width: 40px;
        }
        input[type='range'] {
          display: inline-block;
          width: 55%;
          float: left;
          margin: 0 0 0 10px;
          padding: 0;
          height: 41px;
        }
      }
    }
  }

  h3, h4, p {
    margin: 3px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3;
  }
  p {
   height: 50px;
  }
  .container {
    position: relative;
  }
  .push-up {
    position: absolute;
    left: 15px;
    top: 25px;
  }
  .pushed-left {
    @include jsmusicdb-respond-min-width(sm) {
      margin-left: 125px;
     }
  }

  .progressContainer {
    position: relative;
    overflow: hidden;
    height: 15px;
    > div {
      background-color: $brand-primary;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 0;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      -webkit-transition: 0.3s ease-out;
      -moz-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
    }
    .prebuffer {
      opacity: 0.3;
      z-index: 1;
    }
    .time {
      position: relative;
      z-index: 10;
      pointer-events: none;
      top: -3px;
      margin: 0 5px;

      &.stop {
        float: right;
      }
    }
  }
  .icons {
    font-size: 20px;
    a {
      color: $font-primary;
      display: block;
      float: left;
      margin: 8px 12px 0 0;
      cursor: pointer;
      text-decoration: none;

      @include jsmusicdb-respond-min-width(sm) {
       margin-right: 25px;
      }

      &.icon-big {
        font-size: 30px;
        margin-top: 0;
      }

      &:hover {
        color: darken($gray-ultralight, 20%)
      }
    }
    .volumeControl {
      overflow: hidden;
      float: left;
      width: 50%;
      margin: 14px 15px 0 0;
      i {
        float: left;
        width: 20px;
        margin-top: -3px;
      }
      input[type='range'] {
        display: inline-block;
        width: 48%;
        float: left;
        margin: 0 0 0 10px;
        padding: 0;
        height: 22px;
      }
    }

  }
}

@include jsmusicdb-respond-min-width(sm) {
 .col-fixed {
   position: fixed;
   top: 110px;
   z-index: 1;
 }
}

.well {
  border-radius: 2px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
  margin-bottom: 8px;
  table {
    box-shadow: none;
    border: none !important;
    background: transparent !important;
    tr {
      td {
        background: transparent !important;
        padding-left: 0 !important;
      }
    }
  }
}

.slideWrapper {
  position: relative;
  overflow: hidden;
  height: 40px;

  > div {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 90%;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    .toggle {
      float: right;
      text-align: center;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      //background: $accent-color;
      color: $accent-color;
    }
    .edit {
      width: 50%;
      display: block;
      float: left;
      color: rgba(0,128,0,0.5);
    }
    .remove {
      width: 50%;
      display: block;
      float: left;
      color: rgba(128,0,0,0.5);
    }
  }

  .primary {
    > a:first-of-type {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      width: 90%;
      overflow: hidden;
    }

  }
  .secondary {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }

  &.secondary .primary {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  &.secondary .secondary {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

tr.primary {
  overflow: hidden;
  .secondary {
    display: none;
  }
}

tr.secondary {
  overflow: visible;
  .primary {
    display: none;
  }
  .secondary {
    overflow: visible !important;
  }
}

.editWrapper {
  position: relative;
  z-index: 1;

  > div {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    .toggle {
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 6px 8px;
      background: rgba(248,248,248,0.9);
      border-radius: 2px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
    }
  }
  .primary {


  }
  .secondary {
    padding: 12px 8px;
    right: 0px;
    bottom: 0px;
    background: rgba(248,248,248,0.9);
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
    opacity: 0;
    cursor: default;
    pointer-events: none;

    a {
      color: $accent-color;
    }
  }

  &.secondary .primary {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    opacity: 0;
  }
  &.secondary .secondary {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
  }
}

.well {
  position: relative;

  .loading {
    background: rgba(255,255,255,0.75);
    position: absolute;
  }
}
.loading {

  font-size: 16px;
  height: 100%;
  padding: 10px 15px;
  width: 100%;
  z-index: 100;
}

/* overrides for ionic */
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    border-top: 0;
    padding: 14px;
}
#main {
  .table.table-condensed > thead > tr > th,
  .table.table-condensed > thead > tr > td,
  .table.table-condensed > tbody > tr > th,
  .table.table-condensed > tbody > tr > td,
  .table.table-condensed > tfoot > tr > th,
  .table.table-condensed > tfoot > tr > td {
      padding: 8px;
  }
}
.table {
  table-layout: fixed;
  box-sizing: border-box;
}
.table-hover {
  border: 1px solid $brand-background;
  margin-bottom: -10px;
}
.table {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
  border-radius: 2px;
}

/* list view */
ul.media.list {
  li {
    background-color: $brand-secondary;
    background-repeat: no-repeat;
    background-size: 58px auto;
    background-position: 1px 50%;
    height: 60px;
    margin: 0 0 5px;
    width: 100%;
    overflow: hidden;

    p {
      bottom: -1px;
      top: -1px;
      left: 60px;
      font-size: 20px;
      background: $brand-secondary;
      color: $font-primary;
      .small {
        font-size: 14px;
      }
    }

    &:hover {
      -webkit-transform:scale(1.01);
      -ms-transform:scale(1.01);
      transform:scale(1.01);
      z-index: 1;
    }
    &:active {
      -webkit-transform:scale(0.99);
      -ms-transform:scale(0.99);
      transform:scale(0.99);
      z-index: 1;
    }
  }
}
/* fancy album view */
#main .fancyAlbum, #main .fancyPlaylist {

  .shuffle {
    text-shadow: 1px 1px rgba(255,255,255,0.75);
    display: inline-block;
    margin: 0 0 5px 8px;
  }

  .cover {
    background: -webkit-linear-gradient(top, rgba(236,239,241,0.1) 0%,rgba(236,239,241,0.2) 60%,rgba(255,255,255,1) 100%);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    &.fullArt {
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  > .row:first-child {
    margin-top: -75px;
    margin-bottom: -90px;
    padding: 65px 14px 0;
    position: relative;
    @include jsmusicdb-respond-min-width(sm) {
      padding: 170px 390px 0;
      margin: -150px -390px -90px;

    }
    > div {
      // box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
      padding: 0 5px;

      .albumart {
        box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
      }

      td {
        padding: 6px 8px !important;
        @include jsmusicdb-respond-min-width(sm) {
          padding: 12px !important;
        }
      }
    }
    .albumartwrapper {
      padding: 0;
      width: 150px;
      height: 160px;

      img {
        height: 150px;
      }

      @include jsmusicdb-respond-min-width(sm) {
        width: 190px;
        height: 200px;

        img {
          height: 190px;
        }
      }
    }
    .albuminfowrapper {
      padding: 0;
      height: 148px;
      width: calc(100% - 151px);

      @include jsmusicdb-respond-min-width(sm) {
        width: calc(100% - 191px);
        height: 187px;
      }
      @include jsmusicdb-respond-min-width(md) {
        width: calc(100% - 191px);
      }
      @include jsmusicdb-respond-min-width(lg) {
        width: calc(100% - 191px);
      }

      table {
        margin: 0;
        height: 148px;
        border: 0;
        @include jsmusicdb-respond-min-width(sm) {
          height: 190px;
        }
      }
    }
  }
  .tracklist {
    table {
      border-top: 0;
    }
  }
}
#main {
  .nav-stacked {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
  }
  .btn {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
  }
  .btn:hover {
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.26);
    transform: scale(1.05);
  }
}

#main .fancyPlaylist {
  > .row:first-child {
    height: 600px;
  }
  h1 {
    text-shadow: 1px 1px rgba(255,255,255,0.75);
  }
  #fixedBackground {
    position: fixed;
  }
  .playlistWrapper {
    .well {
      background: rgba(255,255,255,0.9);
    }
    table.table tr td {
      background: rgba(255,255,255,0.9);
    }
  }
}

.albumSource {
  color: rgba(248,248,248, 0.90);
  font-size: 22px;
  position: absolute;
  text-shadow: 0 0 1px rgba(0,0,0,0.75);
  right: 8px;
  top: 6px;
  width: 20px;
  text-align: center;
  z-index: 1;
}

#loadingBackground {
  padding: 5px 10px;
  background: rgba(0,0,0,0.75);
  position: fixed;
  top: 18px;
  right: 70px;
  z-index: 1000;
  color: #fff;
  left: auto;
  @include jsmusicdb-respond-min-width(sm) {
    right: auto;
    left: 40%;
    top: 10px;
  }
}
#loadingBackground2 {
  padding: 5px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.26);
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  color: #fff;

  svg {
    width: 24px;
    height: 100%;
  }
}
#newVersion {
  padding: 10px 10px;
  background: rgba(0,0,0,0.75);
  position: relative;
  color: #fff;
  text-align: center;
}

#yt-player, #yt-playerMask {
  transform: translateY(1000px);
  transition: 0.5s all ease-out;
}
@include jsmusicdb-respond-min-width(sm) {
 #yt-player { margin-top: -100px; }
}

#yt-player.ytPlay, #yt-playerMask.ytPlay {
  transform: translateY(0);
}
.btn-wide {
  display: inline-block;
  width: auto !important;
}

.loadingImage {
  opacity: 0.5;
  .loadingImageIndicator {
    display: block;
  }
}


i.loadingImageIndicator {
  display: none;
  position: absolute;
  font-size: 48px;
  left: 40%;
  top: 40%;
}


.justOneRow li {
  display: none;
}
.justOneRow li:nth-child(-n+4) {
  display: block;
}
@include jsmusicdb-respond-min-width(sm) {
 .justOneRow li:nth-child(-n+4) {
  display: block;
}
}
@include jsmusicdb-respond-min-width(md) {
 .justOneRow li:nth-child(-n+5) {
  display: block;
}
}
@include jsmusicdb-respond-min-width(lg) {
 .justOneRow li:nth-child(-n+7) {
  display: block;
}
}

footer.minimized .progressContainer .time.stop {
  margin-right: 20px;
}
footer {
  .releaseButton {
    position: absolute;
    right: 5px;
    top: -2px;
    display: none;
    z-index: 10;
  }
}

footer.minimized {
  .releaseButton {
    display: block;
  }
}