<table class="table" id="setLogin">
    <tr>
      <td translate="about.version">Version:</td>
      <td>{{version | versionFilter}}
        <div ng-show="hasNewVersion" translate="about.downloadNew"></div>
      </td>
    </tr>
    <tr>
        <td translate="about.lastUpdated">Last updated:</td>
        <td>{{totals.timestamp * 1000 | date:'medium'}}<br /><a ng-click="sync()"><i class="ion-refresh"></i> <span translate="about.sync">Sync data</span></a></td>
    </tr>
    <tr>
        <td translate="about.artists">Total amount of artists:</td>
        <td>{{totals.artists}}</td>
    </tr>
    <tr>
        <td translate="about.albums">Total amount of albums:</td>
        <td>{{totals.albums}}</td>
    </tr>
    <tr>
        <td translate="about.tracks">Total amount of albums:</td>
        <td>{{totals.tracksDone}} / {{totals.tracks}}</td>
    </tr>
    <tr>
        <td translate="about.debug">Debug</td>
        <td>
        	<span translate="about.fetched">Fetched music file in : </span>{{ debug.getJSON / 1000}} sec <br />
        	<span translate="about.fetchedTracks">Fetched music file in : </span>{{ debug.getTracks / 1000}} sec <br />
        	<span ng-show="debug.getJSONLocal">
        	 <span translate="about.fetchedLocal">Fetched music file in : </span>{{ debug.getJSONLocal / 1000}} sec <br />
        	</span>
        	<span translate="about.parsed">Parsed music file in: </span>{{ debug.parseJSON / 1000}} sec
        </td>
    </tr>
    <tr>
      <td>Python 2.7</td>
      <td>{{hasPython}}</td>
    </tr>
    <tr>
        <td translate="about.changelog">Changelog</td>
        <td><div ng-bind-html="changelog" style="max-height: 150px; overflow-x: hidden; overflow-y: auto;"></div></td>
    </tr>
</table>

<div class="well">
    <p translate="about.intro">
        JSMusicDB is a webstandards based music library/music player that can be installed on a Synology NAS
    </p>
    <p translate="about.beta">
        JSMusicDB is in public beta. Any bugs found can be <a href="https://github.com/lucienimmink/JSMusicDB/issues" target="_blank">reported</a> but some features are already in scope.
    </p>
</div>
