<div ng-controller="AlbumViewController" class="fancyAlbum">
	<div class="row" style="z-index: 4;">
	  <ol class="breadcrumb">
      <li><a ng-href="#/overview"><i class="fa fa-fw fa-home"></i></a></li>
      <li><a ng-href="#/letter/{{letter}}">{{letter}}</a></li>
      <li><a ng-href="#/letter/{{letter}}/artist/{{artist.name}}">{{artist.name}}</a></li>
      <li class="active">{{album.album}}</li>
    </ol>
		<div class="col-xs-5 col-sm-3 col-lg-2 albumartwrapper">
			<div class="editWrapper" ng-class="(viewAlbum.state === 'secondary') ? 'secondary' : 'primary'" ng-swipe-left="viewAlbum.state = 'secondary'" ng-swipe-right="viewAlbum.state = 'primary'">
				<img bn-lazy-src="{{viewAlbum.artistNode.name + '|' + viewAlbum.album}}" src="images/nocover.png" width="100%" class="albumart">
				<i class="{{source}} albumSource"></i>
				<div class="primary">
					<a class="toggle" ng-click="viewAlbum.state = 'secondary'"><i class="fa fa-pencil fa-fw"></i></a>
				</div>
				<div class="secondary">
					<div class="dropdown" ng-hide="loading.addAlbumToPlaylist">
						<a class="add dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus fa-fw"></i> <span translate="album.playlist.add">Add to playlist</span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation" ng-repeat="playlist in playlists.data.playlists">
								<a role="menuitem" tabindex="-1" ng-click="addAlbumToPlaylist(playlist, viewAlbum)">{{playlist.name}}</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" ng-click="addAlbumToNewPlaylist(viewAlbum)"><span translate="album.playlist.new">New playlist</span></a>
							</li>
						</ul>
					</div>
					<div ng-show="loading.addAlbumToPlaylist">
						<i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span translate="playlists.action.processing">processing</span>
					</div>
					<a class="toggle" ng-click="viewAlbum.state = 'primary'; $event.stopPropagation();"><i class="fa fa-close fa-fw"></i></a>
				</div>
			</div>
		</div>
		<div class="col-xs-7 col-sm-9 col-lg-10 albuminfowrapper">
			<table class="table table-condensed">
				<tr>
					<td translate="album.artist" width="100" class="hidden-xs">Artist</td>
					<td>{{::viewAlbum.artistNode.albumartist||viewAlbum.artistNode.name}}</td>
				</tr>
				<tr>
					<td translate="album.album" width="100" class="hidden-xs">Album</td>
					<td>{{::viewAlbum.album}}</td>
				</tr>
				<tr ng-show="viewAlbum.year != 0">
					<td translate="album.year" width="100" class="hidden-xs">Year</td>
					<td class="counter">{{::viewAlbum.year}}</td>
				</tr>
				<tr class="hidden-xs">
					<td translate="album.tracks" width="100">Tracks</td>
					<td class="counter">{{viewAlbum.tracks.length}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="cover fullArt" bn-lazy-bg="{{albumart}}" style="z-index: 1"></div>
	<div class="cover" style="z-index: 1"></div>
	<div class="row tracklist" style="z-index: 3; position: relative;">
		<div class="col-xs-12">
			<a ng-click="shuffle()" class="shuffle"><i class="fa fa-random fa-fw"></i> {{shuffleState}}</a>
			<table class="table table-hover table-condensed">
				<tr ng-repeat="track in viewAlbum.tracks" ng-click="playTrack(track)" ng-swipe-left="track.state = 'secondary'" ng-swipe-right="track.state = 'primary'" ng-class="(track.state === 'secondary') ? 'secondary' : 'primary'">
					<td class="counter" width="50">
					  <span ng-show="track.isPlaying">
					    <i class="fa fa-fw fa-play"></i>
					  </span>
					  <span ng-show="track.isPaused">
					    <i class="fa fa-fw fa-pause"></i>
					  </span>
					  <span ng-show="!track.isPlaying && !track.isPaused && track.number">
					    <span ng-if="viewAlbum.multiDisc">{{::track.disc}}.</span>{{::track.number | PrefixZeroFilter}}</span>
					</td>
					<td class="primary">{{::track.title}}
					 <span ng-if="track.collection" class="small">
					   ({{::track.artist}})
					 </span>
					</td>
					<td class="counter primary" width="65" align="right">{{::track.duration}}</td>
					<td class="toggle primary hidden-xs" width="35" align="right" ng-click="track.state = 'secondary'; $event.stopPropagation();"><a class="toggle"><i class="fa fa-fw fa-pencil"></i></a></td>
					<td colspan="2" class="secondary">
					<div class="dropdown" ng-hide="loading.addToPlaylist">
						<a class="add dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-fw fa-plus"></i> <span translate="album.playlist.add">Add to playlist</span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation" ng-repeat="playlist in playlists.data.playlists">
								<a role="menuitem" tabindex="-1" ng-click="addToPlaylist(playlist, track)">{{playlist.name}}</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" ng-click="addToNewPlaylist(track)"><span translate="album.playlist.new">New playlist</span></a>
							</li>
						</ul>
					</div>
					<div ng-show="loading.addToPlaylist">
						<i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span translate="playlists.action.processing">processing</span>
					</div></td>
					<td class="toggle secondary hidden-xs" width="35" align="right" ng-click="track.state = 'primary'; $event.stopPropagation();"><a class="toggle"><i class="fa fa-fw fa-close"></i></a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
