<div ng-controller="ArtistViewController">
  <ol class="breadcrumb">
    <li><a ng-href="#/overview"><i class="fa fa-fw fa-home"></i></a></li>
    <li><a ng-href="#/letter/{{letter}}">{{letter}}</a></li>
    <li class="active">{{artist.name}}</li>
  </ol>
  <ul class="media {{viewMode}}">
    <li ng-repeat="album in viewAlbums | orderBy:'year':false" bn-lazy-bg="{{(album.artistNode.albumartist||album.artistNode.name) + '|' + album.album}}">
      <a ng-href="#/{{album.albumURL}}">
      <p class="details">
        {{::album.album}} <span ng-if="album.year && album.year != 0"></span>
        <span class="small">
          <span ng-if="album.year != '0'">{{::album.year}}</span>
          <span ng-if="album.year == '0'">&nbsp;</span>
        </span>
      </p> </a>
    </li>
  </ul>
</div>
