<div ng-controller="ArtistViewController">
  <ul class="media {{viewMode}}">
    <li ng-repeat="album in viewAlbums | orderBy:'year':false" bn-lazy-bg="{{(album.artistNode.albumartist||album.artistNode.name) + '|' + album.album}}">
      <a ng-href="#/{{album.albumURL}}">
      <p class="details">
        {{::album.album}} <span ng-if="album.year && album.year != 0">({{::album.year}})</span>
        <span class="small"> <ng-pluralize count="album.tracks.length" when="{
          '0': '{{ &quot;general.notracks&quot; | translate }}',
          '1': '{{ &quot;general.onetrack&quot; | translate }}',
          'other': '{} {{ &quot;general.moretracks&quot; | translate }}'}"></ng-pluralize> </span>
      </p> </a>
    </li>
  </ul>
</div>
