<div ng-controller="ArtistOverviewController">
  <ol class="breadcrumb">
    <li><a ng-href="#/overview"><i class="fa fa-fw fa-home"></i></a></li>
    <li class="active">{{letter}}</li>
  </ol>
  <ul class="media {{viewMode}}">
    <li ng-repeat="artist in viewArtists | orderBy:'sortName':false" bn-lazy-bg="{{artist.albumartist || artist.name}}">
      <a ng-href="#/{{artist.artistURL}}">
      <p class="details">
        {{artist.albumartist || artist.name}}
        <span class="small"> <ng-pluralize count="artist.albums.length" when="{
          '0': '{{ &quot;general.noalbums&quot; | translate }}',
          '1': '{{ &quot;general.onealbum&quot; | translate }}',
          'other': '{} {{ &quot;general.morealbums&quot; | translate }}'}"></ng-pluralize> </span>
      </p> </a>
      <i class="ion-ios-reloading loadingImageIndicator"></i>
    </li>
  </ul>
</div>
