<div class="inPartyMode" ng-show="playing.track" ng-controller="NowPlayingController">
  <div class="analyzerWrapper">
    <canvas id="analyser_render"></canvas>
    <div id="yt-player"></div>
    <div id="yt-playerMask" style="position: absolute; background: #000; bottom: 0; height: 50px; width: 100%;"></div>
  </div>
  <div bn-lazy-bg="{{playing.track.artist}}"
  style="z-index: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-position: center center; background-size: cover; -webkit-filter: blur(20px);"
  ng-show="playing.track.artist.toLowerCase() !== playing.track.albumNode.artistNode.name.toLowerCase()"
  ></div>
  <div bn-lazy-bg="{{playing.track.artist + '|' + playing.track.albumNode.album}}"
  style="z-index: 0; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-position: center center; background-size: cover; -webkit-filter: blur(20px);"
  ng-hide="playing.track.artist.toLowerCase() !== playing.track.albumNode.artistNode.name.toLowerCase()"
  ></div>
  <div class="imageWrapper">
    <img class="currentAlbumArt" bn-lazy-src="{{playing.track.albumArt}}" src="images/nocover.png" width="100%" ng-swipe-right="back()" ng-swipe-left="next()">
    <img src='' width="100%" class="previousAlbumArt">
  </div>
</div>