<ul class="media {{viewMode}}">
  <li ng-repeat="letter in letters" class="letter">
    <a ng-href="#/letter/{{letter.letter}}">
      <h2>{{letter.letter}}</h2>
    <p class="details">
      <ng-pluralize count="letter.artists.length" when="{
        '0': '{{ &quot;general.noartist&quot; | translate }}',
        '1': '{{ &quot;general.oneartist&quot; | translate }}',
        'other': '{} {{ &quot;general.moreartists&quot; | translate }}'}"></ng-pluralize>
    </p> </a>
    <i class="ion-ios-reloading loadingImageIndicator"></i>
  </li>
</ul>