<footer ng-show="playing.track" ng-class="(inPartyMode) ? 'partyMode' : ''">
  <div ng-hide="inPartyMode">
    <div class="progressContainer">
      <span class="time start">{{position | timeFilter}}</span>
      <span class="time stop">{{len | timeFilter}}</span>
      <a ng-click="releasePlayer(); $event.stopPropagation()" class="stop releaseButton"><i class="fa fa-fw fa-angle-up"></i></a>
      <div class="prebuffer" ng-style="{width: bufferpos()}" ng-click="updatePosition($event)"></div>
      <div class="progress"  ng-style="{width: pos()}" ng-click="updatePosition($event)"></div>
    </div>
    <div class="containerx" style="margin: 0 15px;">
      <div class="row">
        <div class="col-xs-12 col-md-5" style="min-height: 73px;">
          <h3>{{playing.track.title}}</h3>
          <span class="small">{{playing.track.artist}} - {{playing.track.albumNode.album}}</span>
        </div>
        <div class="hidden-xs hidden-sm col-md-5" ng-show="playing.nextTrack">
          <h4 translate="player.upNext">Up next:</h4>
          <p>
            {{playing.nextTrack.title}} <span class="small"><span translate="player.by">by</span> {{playing.nextTrack.artist}}</span>
          </p>
        </div>
      </div>
      <div class="row icons">
        <div class="col-xs-5 col-sm-5">
          <a ng-click="back()"><i class="fa fa-step-backward fa-fw"></i></a>
          <a ng-click="toggle('isPlaying')" class="icon-big"><i class="fa fa-{{isPlaying}} fa-fw"></i></a>
          <a ng-click="stop()" class="icon-big"><i class="fa fa-stop fa-fw"></i></a>
          <a ng-click="next()"><i class="fa fa-step-forward fa-fw"></i></a>
        </div>
        <div class="col-xs-7 col-sm-5">
          <span class="volumeControl"> <i class="fa fa-fw fa-volume-{{volumeIcon}}"></i>
            <input id="slider2" type ="range" min="0" max="100" step="1" ng-model="volume"/>
          </span>
          <a ng-click="toggle('isLoved')" ng-if="hasLastFM"><i class="fa fa-fw fa-heart-o" ng-hide="playing.track.isLoved"></i><i class="fa fa-fw fa-heart" ng-show="playing.track.isLoved"></i></a>
        </div>
      </div>
    </div>

  </div>
</footer>