<footer ng-controller="PlayerController" ng-show="playing.track" ng-class="(inPartyMode) ? 'partyMode' : ''">
  <div ng-hide="inPartyMode">
    <div class="containerx" style="margin: 0 15px;">
      <div class="row">
        <div class="progressContainer pushed-left">
          <span class="time start">{{position | timeFilter}}</span>
          <span class="time stop">{{len | timeFilter}}</span>
          <a ng-click="releasePlayer(); $event.stopPropagation()" class="stop releaseButton"><i class="fa fa-fw fa-angle-up"></i></a>
          <div class="prebuffer" ng-style="{width: bufferpos()}" ng-click="updatePosition($event)"></div>
          <div class="progress"  ng-style="{width: pos()}" ng-click="updatePosition($event)"></div>
        </div>
        <div class="col-xs-12 col-md-5 pushed-left" style="min-height: 79px;">
          <i class="{{playing.track.source}}" style="margin: 12px 0 0 -20px; position: absolute; text-align: center; width: 20px; z-index: 1;"></i>
          <h3>{{playing.track.title}}</h3>
          <span class="small">{{playing.track.artist}} - {{playing.track.albumNode.album}}</span>
        </div>
        <div class="hidden-xs hidden-sm col-md-5" ng-show="playing.nextTrack">
          <h4 translate="player.upNext">Up next:</h4>
          <p>
            {{playing.nextTrack.title}} <span class="small"><span translate="player.by">by</span> {{playing.nextTrack.artist}}</span>
          </p>
        </div>
      </div>
      <div class="row icons">
        <div class="col-xs-5 col-sm-5 pushed-left">
          <a ng-click="back()"><i class="fa fa-step-backward fa-fw"></i></a>
          <a ng-click="toggle('isPlaying')" class="icon-big"><i class="fa fa-{{isPlaying}} fa-fw"></i></a>
          <a ng-click="stop()" class="icon-big"><i class="fa fa-stop fa-fw"></i></a>
          <a ng-click="next()"><i class="fa fa-step-forward fa-fw"></i></a>
        </div>
        <div class="col-xs-7 col-sm-5">
          <span class="volumeControl"> <i class="fa fa-fw fa-volume-{{volumeIcon}}"></i>
            <input id="slider2" type ="range" min="0" max="100" step="1" ng-model="volume"/>
          </span>
          <a ng-click="toggle('isLoved')" ng-if="hasLastFM"><i class="fa fa-fw fa-heart-o" ng-hide="playing.track.isLoved"></i><i class="fa fa-fw fa-heart" ng-show="playing.track.isLoved"></i></a>
          <a ng-click="toggle('partyMode')"><i class="fa fa-fw fa-arrows-alt"></i></a>
          <a ng-click="showPlaylist()"><i class="fa fa-fw fa-list"></i></a>
          <a ng-click="minimizePlayer()"><i class="fa fa-fw fa-angle-down"></i></a>
        </div>
      </div>
      <div class="hidden-xs albumart push-up" bn-lazy-bg="{{playing.track.albumArt}}">

      </div>
      <div class="hidden-xs analyzer push-up"></div>
    </div>

  </div>
  <div ng-show="inPartyMode" class="inPartyMode">
    <a ng-click="toggle('partyMode')" class="closeNowPlaying" translate="player.close">&times; Now playing</a>
    <div class="analyzerWrapper">
      <canvas id="analyser_render"></canvas>
      <div id="yt-player"></div>
      <div id="yt-playerMask" style="position: absolute; background: #000; bottom: 0; height: 50px; width: 100%;"></div>
    </div>
    <div bn-lazy-bg="{{playing.track.artist}}" class="background-image""    	
    	ng-show="playing.track.artist.toLowerCase() !== playing.track.albumNode.artistNode.name.toLowerCase()"
   	></div>
   	<div bn-lazy-bg="{{playing.track.artist + '|' + playing.track.albumNode.album}}" class="background-image"
    	ng-hide="playing.track.artist.toLowerCase() !== playing.track.albumNode.artistNode.name.toLowerCase()"
   	></div>
    <div class="imageWrapper">
      <img class="currentAlbumArt" bn-lazy-src="{{playing.track.albumArt}}" src="images/nocover.png" width="100%" ng-swipe-right="back()" ng-swipe-left="next()">
      <img src='' width="100%" class="previousAlbumArt">
    </div>
    <div class="container">
      <div class="progressContainer progressContainer-big tertiary row">
        <span class="time start">{{position | timeFilter}}</span>
        <div class="prebuffer" ng-style="{width: bufferpos()}" ng-click="updatePosition($event)"></div>
        <div class="progress"  ng-style="{width: pos()}" ng-click="updatePosition($event)"></div>
        <span class="time stop">{{len | timeFilter}}</span>
      </div>
      <div class="row tertiary">
        <div class="col-xs-12 col-sm-6">
          <div>
            <h3>{{playing.track.title}}</h3>
            <span class="small">{{playing.track.artist}} - {{playing.track.albumNode.album}}</span>
            <br />
            <br />
          </div>
        </div>
        <div class="hidden-xs col-sm-6">
          <h4 translate="player.upNext">Up next:</h4>
          <p>
            {{playing.nextTrack.title}}
            <br />
            <span class="small">{{playing.nextTrack.artist}} - {{playing.nextTrack.albumNode.album}}</span>
          </p>
        </div>
      </div>

      <div class="row icons primary">
        <div class="col-xs-12">
          <a ng-click="back()"><i class="fa fa-step-backward fa-fw"></i></a>
          <a ng-click="toggle('isPlaying')" class="icon-big"><i class="fa fa-{{isPlaying}} fa-fw"></i></a>
          <a ng-click="next()"><i class="fa fa-step-forward fa-fw"></i></a>
          <a ng-click="toggleVideo()" ng-hide="cantPlayYT" style="position: absolute; right: 10px; top: -5px;"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
      <div class="row visible-xs upnext">
        <div class="col-xs-12 background" style="height: 84px;">
          <div ng-show="playing.nextTrack">
            <h4 translate="player.upNext">Up next:</h4>
            <p>
              {{playing.nextTrack.title}}
              <br />
              <span class="small">{{playing.nextTrack.artist}} - {{playing.nextTrack.albumNode.album}}</span>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

  <audio id="player1" style="display: none;" preload="metadata"></audio>
  <audio id="player2" style="display: none;" preload="metadata"></audio>
</footer>