<div class="row" ng-controller="SearchController">
  <br />
  <div class="col-xs-12">
    <form class="form-horizontal" id="searchform" ng-submit="doSearch()">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span>{{translatedSearch}}</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-click="setFilter('artists')" translate="search.artists">Artists</a>
            </li>
            <li>
              <a ng-click="setFilter('albums')" translate="search.albums">Albums</a>
            </li>
            <li>
              <a ng-click="setFilter('tracks')" translate="search.tracks">Tracks</a>
            </li>
            <li>
              <a ng-click="setFilter('year')" translate="search.year">Year</a>
            </li>
          </ul>
        </div>
        <input type="text" class="form-control" ng-model="searchString" style="box-shadow: 0px 2px 5px rgba(0,0,0,0.26)">
        <div class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="doSearch()">
            <i class="fa fa-fw fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <br />
  </div>
  <div class="alert alert-warning col-xs-10 col-xs-offset-1" ng-show="fetchingTracks">
		<strong>{{'general.fetching.header' | translate}}</strong> {{'general.fetching.text' | translate}}
	</div>
  <div class="loading" ng-show="loading.search"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> <span translate="search.searching">Searching ...</span></div>
  <div class="col-xs-12" ng-show="results">
    <h2><span translate="search.results"></span> <span translate="search.{{searchfor}}"></span> '{{searchString}}'</h2>
  </div>
  <div class="col-xs-12" ng-show="tooMany && results">
    <div class="alert alert-warning">
      <strong translate="search.warning"></strong> <span translate="search.yield1"></span> {{maxYield}} <span translate="search.yield2"></span> {{maxYield}} <span translate="search.yield3"></span>
    </div>
  </div>
  <div class="col-xs-12" ng-show="results">
    <ul class="media" ng-show="searchfor === 'artists'">
      <li ng-repeat="artist in results | orderBy:'sortName':false" bn-lazy-bg="{{artist.name}}">
        <a ng-href="#/{{artist.artistURL}}">
        <p class="details">
          {{artist.name}}
          <span class="small"> <ng-pluralize count="artist.albums.length" when="{
            '0': '{{ &quot;general.noalbums&quot; | translate }}',
            '1': '{{ &quot;general.onealbum&quot; | translate }}',
            'other': '{} {{ &quot;general.morealbums&quot; | translate }}'}"></ng-pluralize> </span>
        </p> </a>
      </li>
    </ul>
    <ul class="media" ng-show="searchfor === 'albums' || searchfor === 'year'">
      <li ng-repeat="album in results | orderBy:'artist':false" bn-lazy-bg="{{album.artistNode.name + '|' + album.album}}">
        <a ng-href="#/{{album.albumURL}}">
        <p class="details">
          {{album.artistNode.name}}
          <span class="small" ng-if="album.year != '0'">{{album.album}}</span>
        </p> </a>
      </li>
    </ul>
  </div>
  <div ng-controller="AlbumViewController" ng-show="searchfor === 'tracks'">
    <div class="tracklist">
      <div class="table-responsive col-xs-12">
        <table class="table table-hover">
          <tr ng-repeat="track in results" ng-click="playTrack(track, results)" ng-swipe-left="track.state = 'secondary'" ng-swipe-right="track.state = 'primary'" ng-class="(track.state === 'secondary') ? 'secondary' : 'primary'">
            <td class="counter" width="40">
              <span ng-show="track.isPlaying"> <i class="fa fa-fw fa-play"></i> </span>
              <span ng-show="track.isPaused"> <i class="fa fa-fw fa-pause"></i> </span>
              <span ng-show="!track.isPlaying && !track.isPaused">&nbsp;&nbsp;</span>
            </td>
            <td class="primary">{{track.artist}}</td>
            <td class="primary">{{track.albumNode.album}}</td>
            <td class="primary">{{track.title}}</td>
            <td class="counter primary" width="65" align="right">{{track.duration}}</td>
            <td class="toggle primary" width="35" align="right" ng-click="track.state = 'secondary'; $event.stopPropagation();"><a class="toggle"><i class="fa fa-fw fa-pencil"></i></a></td>
            <td colspan="4" class="secondary">
            <div class="dropdown" ng-hide="loading.addToPlaylist">
              <a class="add dropdown-toggle" data-toggle="dropdown" ng-click="$event.stopPropagation();"><i class="fa fa-fw fa-plus"></i> <span translate="album.playlist.add">Add to playlist</span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="playlist in playlists.items">
                  <a role="menuitem" tabindex="-1" ng-click="addToPlaylist(playlist, track)">{{playlist.title}}</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" ng-click="addToNewPlaylist(track)"><span translate="album.playlist.new">New playlist</span></a>
                </li>
              </ul>
            </div>
            <div ng-show="loading.addToPlaylist">
              <i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span translate="playlists.action.processing">processing</span>
            </div></td>
            <td class="toggle secondary" width="25" align="right" ng-click="track.state = 'primary'; $event.stopPropagation();"><a class="toggle"><i class="fa fa-fw fa-minus"></i></a></td>
          </tr>
        </table>
      </div>
    </div>
</div>