<ul class="nav nav-pills">
  <li>
    <a href="#/overview"><i class="fa fa-home fa-fw"></i> <span translate="general.menu.overview">Overview</span></a>
  </li>
  <li>
    <a href="#/playlist"><i class="fa fa-list fa-fw"></i> <span translate="general.menu.playlists">playlists</span></a>
  </li>
  <li>
    <a href="#/nowplaying"><i class="fa fa-play-circle-o fa-fw"></i> <span translate="general.menu.nowplaying">now playing</span></a>
  </li>
  <li>
    <a href="#/search"><i class="fa fa-search fa-fw"></i> <span translate="general.menu.search">search</span></a>
  </li>
  <li role="presentation" class="divider"></li>
  <li>
    <a href="#/settings"><i class="fa fa-tasks fa-fw"></i> <span translate="general.menu.settings">settings</span></a>
  </li>
  <li>
    <a href="#/about"><i class="fa fa-info-circle fa-fw"></i> <span translate="general.menu.about">about</span></a>
  </li>
</ul>